<!-- {% extends 'base.html' %} -->
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}

{% block styles%}
{% bootstrap_css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'css/index.css' %}">
{%endblock %}

{% block content %}

<div class="text-center">
<div class="profile-image">
  <img src="{{profile.avatar.url}}" class="gallery-image" alt=""  width=30 height=30>
</div>
<p style="font-size: 22px; font-weight:bold;margin:auto; padding:2px;">{{profile.username}}</p>
<p class="card-text" style="font-size:16px;font-weight:bold;">{{profile.description |safe}}</p>
<p class="card-text" style="font-size:14px;color:maroon;font-weight:bold;">{{profile.email}}</p>

</div>

<hr>

<div class="container headers">
    <h4 style="float:left;"><span class="bold" >Flashcards</span>  Your Flash-Cards</h4>
    <!-- <h4 style="float:right"><span><span class="bold">Mobile Excellence</span>  Recognized by Google</span></h4> -->
</div>

{% endblock %}